* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: azure;
}
#main {
    background-color: rgb(241, 241, 130);
    background-image: url(bck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 98vw;
    height: 88vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#form {
    width: 45vw;
    height: 80vh;
    background-color: rgba(255, 228, 196, 0.688);
    border-radius: 2%;
    margin-right: 3vw;
    line-height: 3;
    margin-top: 3vh;
}
#logoContainer {
    background-color: rgba(242, 236, 226, 0.514);
    color: black;
    width: 45vw;
    height: 20vh;
    flex: 1;
    align-self: center;
}
#footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
#namesRow,#contactRow,#pwdsRow {
    background-color: rgba(255, 228, 196, 0.331);
    height: 10vh;
}
#introParaRow,#btnRow {
    background-color: rgba(255, 228, 196, 0.81);
    height: 25vh;
}
label {
    
}